@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;400&family=Rubik+Glitch&family=Rubik:wght@700;800&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;


    --background-color: #DEE3E7;
    --accent-color: #7A98BC;
    --dark-color: #2C2A43;
    --medium-color: #493E74;
    --light-color: #7CADA7;

    --shadow-main:   20px  20px 60px #cacfd2,
                    -20px -20px 60px #f2f7fc;

    text-align: center;
}

body {
    background-color: var(--background-color);
    background-size: cover;

    font-family: 'Dosis', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

a:link, a:visited {
    text-decoration: none;
    color: var(--accent-color);
    transition: transform 0.3s;
}


.welcome {
    text-align: center;
    align-content: center;
    justify-content: space-around;
    min-height: 100vh;
}
.hello {
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--gray-0);
}
.my_name {
    font-family: "Rubik", sans-serif;
    font-size: 10em;
    font-weight: 800;
}
.letter {
    color: var(--accent-color);
    text-shadow: 8px 8px 15px var(--gray-6),
    -5px -5px 7px var(--gray-2);
    transition: all 0.3s;
}
.letter:hover {
    color: var(--gray-0);
    font-family: "Rubik Glitch", sans-serif;
    text-shadow: 15px 15px 5px var(--accent-color);
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.welcome .about_short {
    font-size: 2em;
    text-align: center;
}
.welcome .about_short span {
    color: var(--light-color);
}
.welcome img {
    height: 400px;
    aspect-ratio: auto;
    border-radius: 360px;
    margin: 1em;

    transition: all 0.3s;
}
.welcome img:hover {

}

.section_title {
    font-size: 2.2em;
}


.tech {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1em;
    grid-template-areas:
    "text tech"
    "text art";

    align-content: center;
    width: 70vw;
    margin: 2em;
;

}
.tech > div {
    box-shadow: var(--shadow-main);
    background-color: #DEE3E7;
    border-radius: 11px;
}
.tech div {
    padding: 0.5em;
}
.tech_text {
    grid-area: text;
    font-size: 1.2em;
    border-radius: 5px;
}
.tech_text > .more_text {
    font-size: 0.9em;
}

.dev_tools {
    grid-area: tech;
    font-size: 1.5em;

    border-radius: 5px;
}
.art_tools {
    grid-area: art;
    font-size: 1.5em;

    border-radius: 5px;
}



.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-between;

    width: 70vw;
    font-size: 1.5em;
    margin: 2em;
}

.project_card {
    background-color: rgba(0, 0, 0, 0.20);
    border-radius: 5px;
    min-height: max-content;
    padding: 0.2em;

    flex: 1 1 auto;
    max-width: 500px;

    box-shadow: var(--shadow-main);
    background-color: #DEE3E7;
    border-radius: 11px;
}

.tech_stack {
    font-size: 0.8em;
}
.project_card > ._text {
    font-size: 0.7em;
    margin-block: 0.5em;
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
}
.reveal.active{
    transform: translateY(0);
    opacity: 1;
}





.sidebar {
    cursor: pointer;
    position: fixed;
    top: 50vh;
    left: -5rem;
    display: flex;
    gap: 1em;

    font-size: 2em;
    padding-inline: 1em;
    transform: rotate(90deg);

}
.sidebar > div {
    height: 20px;
}
.sidebar > a:hover {
    transform: rotate(-20deg);

}

.scroll_arrow {
    position: absolute;
    top: 95vh;
    transform: translateX(1000%);
    transition: 2s all ease-in-out;
}
.scroll_arrow.to_side {
    transform: translateX(1600%);
    position: sticky;
}
.arrow {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scroll_arrow .arrow div:last-child {
    position: absolute;
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
    width: 16px;
    height: 16px;
    transform: rotate(45deg);
}
.scroll_arrow .arrow div:first-child {
    position: absolute;
    height: 80px;
    width: 2px;
    transform: translateY(-32px);
    background-color: black;
}

.scroll_arrow ._text {
    transform: rotate(-90deg) translate(44px , -10px);
    text-transform: uppercase;
    animation: up-down 5s cubic-bezier(.52,.03,.49,.99) infinite;
}
@keyframes up-down {
    0% {
        transform: rotate(-90deg) translate(44px , -10px);
    }
    50% {
        transform: rotate(-90deg) translate(14px , -10px);
    }
    100% {
        transform: rotate(-90deg) translate(44px , -10px);
    }

}


.references {
    display: none;
}